<h1>Search</h1>
<form action='/searchPage' method="post">
  <div class='form-group'>
    <label for='search'>Artist: </label>
    <input id='search' name='search' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn'>Submit</button>
</form>
